//output:../build/index.html

doctype
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Glow

    link(rel="stylesheet", href="../build/css/normalize.css", type="text/css")
    link(rel="stylesheet", href="../build/css/style.css", type="text/css")

  body
    .header_Photo
      img(src=" ../build/image/glow-icon.png" class="header_glow_icon")
      ul.header_os_icon
        li.header_os_icon-bgCirle
          a(href="#")
            img(src="../build/image/icon-apple-header.svg")
        li.header_os_icon-bgCirle
          a(href="#")
            img(src="../build/image/icon-android-header.svg")
        li.header_os_icon-bgCirle
          a(href="#")
            img(src="../build/image/icon-windows-header.svg")
      a.header_arrow_to_phone
        img(src="../build/image/header-arrow-to.png")
    .feature_block
      ul.feature_text
        li
          h2 First Great Feature
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            |Mauris interdum velit vitae nulla molestie eu.

          h2 Second Great Feature
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            |Mauris interdum velit vitae nulla molestie eu.
        li.phone_view-position
          img(src="../build/image/iphone_view.png", class="phone_view-photo")
        li
          h2 First Great Feature
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            |Mauris interdum velit vitae nulla molestie eu.
          h2 Second Great Feature
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            |Mauris interdum velit vitae nulla molestie eu.
