//output:../build/index.html

doctype
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Glow

    link(rel="stylesheet", href="../build/css/normalize.css", type="text/css")
    link(rel="stylesheet", href="../build/css/style.css", type="text/css")

  body
    .header_Photo
      img(src=" ../build/image/glow-icon.png" class="header_glow_icon")
      ul.header_os_icon
        li.header_os_icon-bgCirle
          i
            img(src="../build/image/icon-apple-header.png")
        li
          i
            img(src="../build/image/icon-android-header.png")
        li
          i
            img(src="../build/image/icon-windows-header.png")
