//output:../build/index.html

doctype
html
  head
    meta(charset="UTF-8")
    //- meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Glow

    link(rel="stylesheet", href="../build/css/normalize.css", type="text/css")
    link(rel="stylesheet", href="../build/css/style.css", type="text/css")

  body
    .header_Photo
      img(src=" ../build/image/glow-icon.png" class="header_glow_icon")
      ul.header_os_icon
        li.header_os_icon-bgCirle
          a(href="#")
            img(src="../build/image/icon-apple-header.svg")
        li.header_os_icon-bgCirle
          a(href="#")
            img(src="../build/image/icon-android-header.svg")
        li.header_os_icon-bgCirle
          a(href="#")
            img(src="../build/image/icon-windows-header.svg")
      a.header_arrow_to_phone
        img(src="../build/image/header-arrow-to.png")
    section.feature_block
      div
        h2 First Great Feature
        p
          |Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          |Mauris interdum velit vitae nulla molestie eu.
        h2 First Great Feature
        p
          |Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          |Mauris interdum velit vitae nulla molestie eu.

      div.phone_view-position
      img(src="../build/image/iphone_view.png", class="phone_view-photo")

      div
        h2 First Great Feature
        p
          |Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          |Mauris interdum velit vitae nulla molestie eu.
        h2 First Great Feature
        p
          |Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          |Mauris interdum velit vitae nulla molestie eu.

      //- ul.feature_text
      //-   li
      //-     h2 First Great Feature
      //-     p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      //-       |Mauris interdum velit vitae nulla molestie eu.
      //-
      //-     h2 Second Great Feature
      //-     p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      //-       |Mauris interdum velit vitae nulla molestie eu.
      //-   li.phone_view-position
      //-     img(src="../build/image/iphone_view.png", class="phone_view-photo")
      //-   li
      //-     h2 First Great Feature
      //-     p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      //-       |Mauris interdum velit vitae nulla molestie eu.
      //-     h2 Second Great Feature
      //-     p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      //-       |Mauris interdum velit vitae nulla molestie eu.

    .video_block
      ul.blocks
        li
          h2 Whats Glow all About?
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla nisl congue congue. Maecenas nec condimentum libero, at elementum mauris.
            | <br>Phasellus eget nisi dapibus, ultricies nisl at, hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.
          ul
            li Lorem ipsum dolor sit amet
            li Lorem ipsum dolor sit amet consectetur elt
        li
          iframe(type='text/html'
            src='http://wwww.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com'
              frameborder='0')
    .awesome_block
      .center_text
        h2 Why is Glow so Awesome!
        p Lorem ipsum dolor sit amet, pro aeterno adipisci ex, pro no iriure accusam. Eros admodum intellegat ex mea, mei wisi nullam ne, qui cu aliquid nominavi.
          |Est habemus maiestatis ut. Vim quod elitr interesset ea.
      ul.awesome_icons
        li
          img(src="../build/image/awesome_icon1.png")
          h2 Flat Design
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.
        li
          img(src="../build/image/awesome_icon2.png")
          h2 Marketable
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.
        li
          img(src="../build/image/awesome_icon3.png")
          h2 Edit Photos
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.
        li
          img(src="../build/image/awesome_icon4.png")
          h2 Edit Colors
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.
        li
          img(src="../build/image/awesome_icon5.png")
          h2 User Friendly
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.
        li
          img(src="../build/image/awesome_icon6.png")
          h2 100% Editable
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.
    section.price_Block
      .center_text
        h2  Pricing Plans
        p Lorem ipsum dolor sit amet, pro aeterno adipisci ex, pro no iriure accusam. Eros admodum intellegat ex mea, mei wisi nullam ne, qui cu aliquid nominavi.
          |Est habemus maiestatis ut. Vim quod elitr interesset ea.
      div.price_table
        p Basic
        p
          |$1999
        p Feature 1
        p Feature 2
        p Feature 3
        p Feature 4
        p Feature 5
        p button
      div.price_table
        p Basic
        p
          |$19
          |99
        p Feature 1
        p Feature 2
        p Feature 3
        p Feature 4
        p Feature 5
        p button
      div.price_table
        p Basic
        p
          |$1999
        p Feature 1
        p Feature 2
        p Feature 3
        p Feature 4
        p Feature 5
        p button
      div.price_table
        p Basic
        p $1999
        p Feature 1
        p Feature 2
        p Feature 3
        p Feature 4
        p Feature 5
        p button
      div.price_table
        p Basic
        p $191в99
        p Feature 1
        p Feature 2
        p Feature 3
        p Feature 4
        p Feature 5
        p button
