$main-font: 10px;
$p_text: 1.6rem;
$h2_text: 2.4rem;

$color: #e8e8e8;
$text_color: #848484;

@font-face {
  src: url(../../newProj/fonts/MyridPro/MyriadPro-Cond.otf);
  src: url(../../newProj/fonts/Helvetica/HelveticaNeueCyr-Light.otf);
}

body,
html {
  // width: 100%;
  font-size: $main-font;
}

.extend_Text-h2 {
  font-family: MyridPro;
  font-size: $h2_text;
}

.extend_Text-p {
  font-family: HelveticaNeueCyr-Light;
  font-size: $p_text;
}

.header_Photo {
  background-image: url('../image/headerImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.header_glow_icon {
  margin-top: 10rem;
}

.header_os_icon {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 4rem;
  text-align: center;

  .header_os_icon-bgCirle {
    width: 50px;
    height: 50px;
    border-radius: 3rem;
    background-color: rgba(3, 3, 3, 0.5);
    margin-right: 1.6rem;
  }

  li {
    &:hover {
      background-color: rgba(3, 3, 3, 1);
    }
  }

  li:last-child {
    margin-right: 0;
  }

  a {
    display: block;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  img {
    padding-top: 20%;
  }
}

.header_arrow_to_phone {
  display: inline-block;
  margin-top: 5rem;
  margin-bottom: 34rem;
}

//feature block!

.feature_block {
  // position: relative;
  padding: 5% 15% 15%;
  display: flex;
  justify-content: space-between;

  div {
    // outline: 1px solid black;
    // width: (100%/3.5);
  }

  div:nth-child(2) {
    flex-basis: 100%;
  }

  h2 {
    font-size: $h2_text;
    font-family: MyriadPro-Cond;
  }

  p {
    font-size: $p_text;
    color: $text_color;
    font-family: HelveticaNeueCyr-Light;
  }
}

.phone_view-position {
  position: relative;
}

.phone_view-photo {
  // width: 33%;
  position: absolute;
  top: 60%;
  left: 32%;
}
//video block;

.video_block {
  background-color: $color;
  padding-top: 5.5rem;
  padding-bottom: 2rem;

  .blocks {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    margin: auto;
    padding: 0;
    list-style: none;
    max-width: 75%;

    @extend .extend_Text-h2;
    @extend .extend_Text-p;
  }

  li {
    width: (100%/2);
    padding: 0 5% 0 0;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}
//awsome block
.center_text {
  text-align: center;
  margin: 5rem auto 10rem;
  width: 69%;
}

.awesome_block {
  @extend .extend_Text-h2;
  @extend .extend_Text-p;
}

.awesome_icons {
  // border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  text-align: center;
  margin: 0 15% 5%;
  padding: 0;

  li {
    padding: 0 0 5rem;
    width: (100%/3);
    position: relative;
  }

  .lineIcon {
    width: 2px;
    height: 5px;
    background-color: grey;
  }

  li {
    position: relative;

    &:first-child::after {
      content: '';
      position: absolute;
      display: block;
      width: 2px;
      height: 100%;
      background-color: #e3e3e3;
      top: -20%;
      left: 99%;
    }

    &:first-child::before {
      content: '';
      position: absolute;
      display: block;
      width: 2px;
      height: 120%;
      background-color: #e3e3e3;
      top: 30%;
      left: 50%;
      transform: rotate(90deg);
    }

    &:nth-child(2)::after {
      content: '';
      position: absolute;
      display: block;
      width: 2px;
      height: 100%;
      background-color: #e3e3e3;
      top: -20%;
      left: 99%;
    }

    &:nth-child(2)::before {
      content: '';
      position: absolute;
      display: block;
      width: 2px;
      height: 120%;
      background-color: #e3e3e3;
      top: 30%;
      left: 50%;
      transform: rotate(90deg);
    }

    &:nth-child(3)::before {
      content: '';
      position: absolute;
      display: block;
      width: 2px;
      height: 120%;
      background-color: #e3e3e3;
      top: 30%;
      left: 50%;
      transform: rotate(90deg);
    }

    &:nth-child(5)::after {
      content: '';
      position: absolute;
      display: block;
      width: 2px;
      height: 100%;
      background-color: #e3e3e3;
      top: 0;
      left: 99%;
    }

    &:nth-child(5)::before {
      content: '';
      position: absolute;
      display: block;
      width: 2px;
      height: 100%;
      background-color: #e3e3e3;
      top: 0;
      left: 0;
    }
  }
}

//price_Block

.price_Block {
  padding-top: 5rem;
  background-color: $color;

  .center_text {
    margin: 0 auto;
  }

  .price_table {
    text-align: center;
    outline: 1px solid black;
    display: inline-block;
  }
}
