$main-font: 10px;
$h2_text: 2.4rem;
$p_text: 1.6rem;

$color: #848484;

body,
html {
  min-width: 1600px;
  font-size: $main-font;
}

.header_Photo {
  background-image: url('../image/headerImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.header_glow_icon {
  margin-top: 10rem;
}

.header_os_icon {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 4rem;
  text-align: center;

  .header_os_icon-bgCirle {
    width: 50px;
    height: 50px;
    border-radius: 3rem;
    background-color: rgba(3, 3, 3, 0.5);
    margin-right: 1.6rem;
  }

  li:last-child {
    margin-right: 0;
  }

  img {
    padding-top: 20%;
  }
}

.header_arrow_to_phone {
  display: inline-block;
  margin-top: 5rem;
  margin-bottom: 34rem;
}

//feature block!

.feature_block {
  position: relative;
  margin-left: 27rem;
  margin-right: 27rem;
  border: 1px solid black;
}

.feature_text {
  display: flex;
  flex-direction: row;
  // border: 1px solid black;
  // justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  width: (100%/2);

  li:last-child {
    align-self: flex-end;
  }

  p {
    font-size: $p_text;
    color: $color;
  }

  h2 {
    font-size: $h2_text;
  }
}

.phone_view {
  width: 55%;
  position: absolute;
  left: (100%/3);
  top: -75%;
}
